@{
    ViewBag.Title = "Confirmação";
}

<div class="jumbotron">
    <div class="descricao">
        <h1>Bem-vindo!</h1>
        <p class="lead">A sua conta aguarda confirmação do administrador.</p>

        @*@Html.Partial("buttonCriar")*@
        <p><a href="../Home/Index" class="btn btn-primary btn-lg">Página Principal &raquo;</a></p>
    </div>
    <div class="logo">
        <br />
        <img class="logoIMG" src="~/Content/logotipo.png" />
    </div>
</div>
