@{
    ViewBag.Title = "Trabalho elaborado por";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>


    <address>
        Tiago Guiomar N.º21240036<br />

        Rafael Almeida N.º2124****<br />

    </address>

    <address>
        <strong>Tiago: </strong>   <a href="mailto:a21240036@isec.pt">a21240036@isec.pt</a><br />
        <strong>Rafael:</strong>  <a href="mailto:a21246666@isec.pt">a21246666@isec.pt</a>
    </address>
</div>