@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="descricao" >
        <h1>Bem-vindo!</h1>
        <p class="lead">Plataforma de auxilio para quem procura as melhores opções para os seus filhos.</p>
        
        @Html.Partial("buttonCriar")
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Criar &raquo;</a></p>*@
    </div>
    <div class="logo">
        <img class="logoIMG" src="~/Content/logotipo.png" />
    </div>
</div>

