@using Microsoft.AspNet.Identity

@if (this.User.IsInRole("Pais") || this.User.IsInRole("Admin") || this.User.IsInRole("Instituição"))
{
    <h2>Olá,</h2>
    <p>@ViewBag.user</p>

}

@if (!(this.User.IsInRole("Pais")) && !(this.User.IsInRole("Admin")) && !(this.User.IsInRole("Instituição")))
{
    <h2>Crie uma Conta!</h2>
    <p><a href="../Account/Register" class="btn btn-primary btn-lg">Criar &raquo;</a></p>
}
